<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCQ Test</title>
    <!-- all link tags  -->
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <main >
    <section class="home-container container">
        <div class="img-container">
            <img src="../images/showcase.png" alt="home-img">
        </div>
        <div class="content-container">
            <h1 class="section-title">MCQ TEST</h1>
            <div class="mcq-conditions">
                <h2>Total Questions 10 In 10 Minute</h2>
                <p>MCQ about Tense (English 2nd paper)</p>
                <a href="./mcq.html" class="start-btn">START</a>
            </div>
        </div>
    </section>
  </main>
</body>
</html>