<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCQ Question </title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <main class="mcq-section">
        <section class="mcq-container">
            <div class="mcq-header">
                <h1>Remaining Time: 00:10:00</h1>
                <button class="btn-finish">FINISH</button>
            </div>
            <div class="mcq-question-container">
                <div class="mcq-question">
                    <p>1. Please select your favorite Web language:</p>
                     <div class="input-box">
                        <input  type="radio" id="html" name="fav_language" value="HTML">
                        <label for="html">HTML</label><br>
                    </div>
                     <div class="input-box">
                        <input type="radio" id="css" name="fav_language" value="CSS">
                        <label for="css">CSS</label><br>
                    </div>
                </div>
                <div class="mcq-question">
                    <p>1. Please select your favorite Web language:</p>
                     <div class="input-box">
                        <input  type="radio" id="html" name="fav_language" value="HTML">
                        <label for="html">HTML</label><br>
                    </div>
                     <div class="input-box">
                        <input type="radio" id="css" name="fav_language" value="CSS">
                        <label for="css">CSS</label><br>
                    </div>
                </div>
                <div class="mcq-question">
                    <p>1. Please select your favorite Web language:</p>
                     <div class="input-box">
                        <input  type="radio" id="html" name="fav_language" value="HTML">
                        <label for="html">HTML</label><br>
                    </div>
                     <div class="input-box">
                        <input type="radio" id="css" name="fav_language" value="CSS">
                        <label for="css">CSS</label><br>
                    </div>
                </div>
                <div class="mcq-question">
                    <p>1. Please select your favorite Web language:</p>
                     <div class="input-box">
                        <input  type="radio" id="html" name="fav_language" value="HTML">
                        <label for="html">HTML</label><br>
                    </div>
                     <div class="input-box">
                        <input type="radio" id="css" name="fav_language" value="CSS">
                        <label for="css">CSS</label><br>
                    </div>
                </div>
            </div>
            <!-- <script>
                const mcqOption = document.querySelectorAll('[name="fav_language"]');
                mcqOption.forEach(mcq=>{
                    mcq.addEventListener('click',()=>{
                        console.log(mcq.value);
                    })
                });
            </script> -->
        </section>
    </main>
</body>
</html>