<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCQ Question </title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <main class="mcq-section">
        <section class="mcq-container">
            <div class="mcq-header">
                <h1>Remaining Time: <span id="countdown">00:10:00</span> </h1>
                <button id="finish-btn" class="btn btn-finish">FINISH</button>
            </div>
            <div id="mcq-container" class="mcq-question-container">
                
            </div>
            <!-- <script>
                const mcqOption = document.querySelectorAll('[name="fav_language"]');
                mcqOption.forEach(mcq=>{
                    mcq.addEventListener('click',()=>{
                        console.log(mcq.value);
                    })
                });
            </script> -->
        </section>
    </main>
    <script src="../js/main.js"></script>
</body>
</html>