<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCQ Timeout</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <main class="timeout-section">
        <div class="timeout-container">
            <img src="../images/stopwatch.png" alt="timeout-img">
            <h1>Time Out</h1>
            <button class="btn btn-timeout">START AGAIN</button>
        </div>
    </main>
</body>
</html>